<!-- Order Section(Pedido)  -->
<section class="order" id="order">
  <h1 class="heading"> <span>Pide</span> ahora </h1>
  <div class="row">
      <div class="image">
          <img src="../../assets/order-img.jpg" alt="">
      </div>
      <form action="">
          <div class="inputBox">
              <input type="text" placeholder="Nombre">
              <input type="email" placeholder="E-mail">
          </div>
          <div class="inputBox">
              <input type="number" placeholder="Numero">
              <input type="text" placeholder="Nombre del platillo">
          </div>
          <textarea placeholder="Direccion" name="" id="" cols="30" rows="10"></textarea>
          <input type="submit" value="PIDE AHORA" class="btn">
      </form>
  </div>
  </section>
