<!-- Popular Section(Seção da Página Popular)  -->
<section class="popular" id="popular">
  <h1 class="heading">Platillo mas <span>popular</span></h1>
  <div class="box-container">
      <div class="box">
          <span class="price"> $5 - $20 </span>
          <img src="../../assets/p-1.jpg" alt="">
          <h3>Hamburguesa Sabrosa</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">PIDE AHORA</a>
      </div>
      <div class="box">
          <span class="price"> $5 - $15 </span>
          <img src="../../assets/p-2.jpg" alt="">
          <h3>Postres Sabrosos</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">PIDE AHORA</a>
      </div>
      <div class="box">
          <span class="price"> $4 - $14 </span>
          <img src="../../assets/p-3.jpg" alt="">
          <h3>Dulces Sabrosos</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">PIDE AHORA</a>
      </div>
      <div class="box">
          <span class="price"> $5 - $10 </span>
          <img src="../../assets/p-4.jpg" alt="">
          <h3>Cupcakes Sabrosos</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">PIDE AHORA</a>
      </div>
      <div class="box">
          <span class="price"> $8 - $12 </span>
          <img src="../../assets/p-5.jpg" alt="">
          <h3>Refrescos</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">PIDE AHORA</a>
      </div>
      <div class="box">
          <span class="price"> $3 - $15 </span>
          <img src="../../assets/p-6.jpg" alt="">
          <h3>Helado</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">PIDE AHORA</a>
      </div>
  </div>
  </section>
