<!-- Gallery Section(Galeria)  -->
<section class="gallery" id="gallery">
  <h1 class="heading">Nuestra <span> Galeria </span>de Platillos </h1>
  <div class="box-container">
      <div class="box">
          <img src="../../assets/g-1.jpg" alt="">
          <div class="content">
              <h3>Platillos Sabrosos</h3>
              <p>¡Ven a probar nuestra hamburguesa más famosa!</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-2.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>¡Ven a probar nuestro increíble sandwich de jamón y queso!</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-3.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>¡Ven a probar nuestros deliciosos tacos de carne! Están hechos con carne de res asada a la perfección</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-4.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>¡Ven a probar nuestros Cupcakes famosos!</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-5.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>Ven a probar nuestros deliciosos Dulces</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-6.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>Ven a probar nuestros delicioso Pollo Frito</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-7.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>Ven a probar nuestros deliciosos Desayunos</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-8.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>Ven a probar nuestros sabrosos Chocolates</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-9.jpg" alt="">
          <div class="content">
              <h3>Platillos sabrosos</h3>
              <p>Ven a probar nuestras deliciosas Reposterias</p>
              <a href="#" class="btn">PIDE AHORA</a>
          </div>
      </div>
  </div>

  </section>
