<!-- Review Section -->
<section class="review" id="review">
  <h1 class="heading">Comentarios de nuestros <span>clientes</span> </h1>
  <div class="box-container">
      <div class="box">
          <img src="../../assets/pic1.png" alt="">
          <h3>Priscila Andrade</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>"El menú tenía una gran variedad de opciones y todo lo que probé estaba increíblemente fresco y bien preparado."</p>
      </div>
      <div class="box">
          <img src="../../assets/pic2.png" alt="">
          <h3>Daniel Marin</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>"Los precios eran razonables y la cantidad de comida fue justa. Sin duda volvería a comer aquí."</p>
      </div>
      <div class="box">
          <img src="../../assets/pic3.png" alt="">
          <h3>Kate Vargas</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>"La comida estaba increíblemente deliciosa. Definitivamente volveré a visitar este lugar."</p>
      </div>
  </div>
  </section>
