
<div class="step-container">
  <h1 class="heading">Como <span>funciona</span></h1>
  <section class="steps">
      <div class="box">
          <img src="../../assets/step-1.jpg" alt="">
          <h3>Escoja su comida favorita</h3>
      </div>
      <div class="box">
          <img src="../../assets/step-2.jpg" alt="">
          <h3>Entrega gratis y rapida</h3>
      </div>
      <div class="box">
          <img src="../../assets/step-3.jpg" alt="">
          <h3>Métodos de pago faciles</h3>
      </div>
      <div class="box">
          <img src="../../assets/step-4.jpg" alt="">
          <h3> Finalmente, aprochete su comida</h3>
      </div>
  </section>
  </div>
