 <!-- Speciality Section  -->
 <section class="speciality" id="speciality">
  <h1 class="heading"> Nuestras <span>Especialidades</span> </h1>
  <div class="box-container">
      <div class="box">
          <img class="image" src="../../assets/s-img-1.jpg" alt="">
          <div class="content">
              <img src="../../assets/s-1.png" alt="">
              <h3>Hamburguesa sabrosa</h3>
              <p>La mas grande y deliciosa Hamburguesa que existe</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../../assets/s-img-2.jpg" alt="">
          <div class="content">
              <img src="../../assets/s-2.png" alt="">
              <h3>Pizza</h3>
              <p>Queso,salsa especial y los mejores ingredientes para hacer la pizza mas sabrosa</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../../assets/s-img-3.jpg" alt="">
          <div class="content">
              <img src="../../assets/s-3.png" alt="">
              <h3>Sorvete frio</h3>
              <p>Para esos dias Calientes</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../../assets/s-img-4.jpg" alt="">
          <div class="content">
              <img src="../../assets/s-4.png" alt="">
              <h3>Bebidas frias</h3>
              <p>Para acompañar tu Platillo favorito</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../../assets/s-img-5.jpg" alt="">
          <div class="content">
              <img src="../../assets/s-5.png" alt="">
              <h3>Dulces Sabrosos</h3>
              <p>Dulces deliciosos con mucho sabor</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../../assets/s-img-6.jpg" alt="">
          <div class="content">
              <img src="../../assets/s-6.png" alt="">
              <h3>Café</h3>
              <p>No puede faltar ese delicioso cafe en la mañana o en la tarde</p>
          </div>
      </div>
  </div>
  </section>
